# Ignore database data
mysql/

# Ignore WordPress core files (if you want to keep repo light)
# But keep your custom work
wordpress/*
!wordpress/.gitignore
!wordpress/.htaccess
!wordpress/composer.json
!wordpress/composer.lock
!wordpress/wp-content/

# Ignore wp-content ยกเว้น custom plugin
wordpress/wp-content/*
!wordpress/wp-content/plugins/

wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/alumni-api/

# Ignore logs and temp files
*.log
.DS_Store